#speedometer {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 104px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px; /* Adjust this value as needed for spacing between widgets */
}
.widget-title {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 0px;
    /* Add any additional styles for the title section */
}
.widget {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-bottom: 20px;
    flex-basis: 25%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
.gears{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 24px;
    font-family: "Segoe UI Emoji", "Noto Color Emoji", "Twemoji", "Arial", sans-serif;
}

.line {
    border-top: 2px solid black;
    width: 100%;
}
#Alarmstatus-bg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4169E1;
    height: 50px;
}
#Alarmstatus-label{
    font-size: 24px;
}
.Seperationcontrol{
    grid-column: span 3;
}
.Runninghours{
    align-items: baseline;
}
.button-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.widget-button {
    margin: 5px;
    width: 33%;
}
.gauge-reading-label{
    font-size: 24px;
}