.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #ADD8E6;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.content {
    flex-grow: 1;
    padding: 20px;
    display: flex; /* Add this line */
    flex-wrap: wrap; /* Add this line */
}

.widget {
    margin-bottom: 20px;
    flex-basis: 33%;
    border: 1px solid #ccc; /* Add this line */
    padding: 10px;
    box-sizing: border-box;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    align-items: center;
}

label {
    margin-right: 10px;
}
#speedometer {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 104px;
    font-weight: bold;
}
.upper-bar {
    background-color: #4169E1;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
}

#current-time {
    margin-right: 20px;
}
.title {
    margin-left: 20px;
}